body {
    font-size: 14px;
    background-color: #fdfdfd;
    font-family: "Josefin Sans", sans-serif;
}

.container {
    margin-top: 100px;
    max-width: 470px;
    
    align-items: center;
    text-align: center;
}

.grid-container {
    display: grid;
}

.grid-child-left {
    float: left;
}

.grid-child-right {
    float: right;
}

/*#startQuiz {
    background-color: rgb(132, 132, 216);
    color: white;
    padding: 5px;
} */

.header {
    padding: 5px;
}

#results {
    display: none;
    text-align: left;
}

#highScores {
    color: rgb(132, 132, 216);
    
    
}

#time {
    color: rgb(132, 132, 216);
    
}

#quiz {
    display: none;
}

.choice {
    border: 20px;
    border-color: black;
    padding: 5px;
    margin: 10px;
    background-color: rgb(132, 132, 216);
    color: white;
}

#question {
    margin-bottom: 40px;
    font-size: 24px;
    text-align: left;
    line-height: normal;
}

#menu {
    padding: 10px;
    border: 5px;
    border-color: black;
}

/* #submit {
    background-color: rgb(132, 132, 216);
    color: white;
} */

#scores {
    display: none;
    text-align: left;
}

button {
    background-color: rgb(132, 132, 216);
    color: white;
    cursor: pointer;
}


#buttons {
    margin-top: 5px;
}
/* #individualList {
    text-align: left;
    padding-inline-start: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
} */

/*ol {
    text-align: left;
    
    color: white;
    border: solid black 5px;
    
} */

#finalScore {
    padding-bottom: 5px;
}

li {
    list-style-type: none;
}